@use 'sass:math';

@mixin flex-center($dir: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $dir;
  justify-content: $justify;
  align-items: $align;
}

@mixin respond-to($break) {
  @if $break == sm {
    @media (max-width: 575px) { @content; }
  } @else if $break == md {
    @media (max-width: 767px) { @content; }
  } @else if $break == lg {
    @media (max-width: 991px) { @content; }
  }
}