$color-primary:        #3E9CDC;
$color-primary-light:  #5AB5F1;
$color-bg-dark:        #272733;
$color-text-light:     #fff;
$color-text-secondary: #BBBBBB;
$color-footer-bg:      #3D4050;

$line-height-base:     1.5;
$max-width:            1170px;
$font-base:            1rem;
$font-family-heading:  'Raleway', sans-serif;
$font-family-body:     'Lato', sans-serif;